<div id="contact">
  <div class="row row-duo">
    <div class="column col-left">
      <h2>Contact</h2>
      <div class="contact">
        <ul class="contact-items">
          <li><strong>Morgane Lanco</strong></li><br>
          <li>&#9743;</li>
          <li>07 81 80 19 08</li><br>
          <li>&#9993;</li>
          <li>morganelanco@outlook.fr</li><br>
          <li>&#127968;</li>
          <li>64600 ANGLET</li><br>
          <li>SIRET N°894132240/00017</li>
        </ul>
      </div>
    </div>
    <div class="column col-right">
      <img src="assets/images/the_tree.png" alt="">
    </div>
  </div>
</div>
