<div id="photographies">
  <h2>Galerie photos</h2>
  <!-- TWO COLUMNS -->
  <div class="row row-duo">
    <div class="column col-left">
      <img src="assets/images/the_tree.png" alt="">
    </div>
    <div class="column col-right">
      <img src="assets/images/surfeur1.jpg" alt="">
    </div>
  </div>
  <!-- THREE COLUMNS -->
  <div class="row row-trio">
    <div class="column col-left">
      <img src="assets/images/plat_potage.jpeg" alt="">
      <img src="assets/images/plat_brunch.jpeg" alt="">
    </div>
    <div class="column col-middle">
      <img src="assets/images/plat_oeuf.jpeg" alt="">
      <img src="assets/images/velo.jpeg" alt="">
    </div>
    <div class="column col-right">
      <img src="assets/images/personnage_acroupi.jpg" alt="">
      <img src="assets/images/desastros.png" alt="">
    </div>
  </div>
</div>
