<div id="header">
  <nav class="nav-bar">
    <ul class="nav-links">
      <li><a href="#header">ACCUEIL</a></li>
      <li><a href="#photographies">VIDEO</a>
      <li><a href="#">A PROPOS</a></li>
      <li><a href="#contact">CONTACT</a></li>
    </ul>
    <div class="nav-logo">
      <a href="#">Morgane LANCO</a>
    </div>
    <div class="nav-burger">
      <a>&#9776;</a>
    </div>
  </nav>



  <div id="imageheader">
    <div id="logoheader">
      <p>ML Studio</p>
      <p>Vidéaste - Photographe</p>
    </div>
  </div>
</div>
